@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@model WeatherWebApp.Models.WeatherData
@{
    <h2>Weather Information for @Model.Name</h2>
    <p>Temperature: @Model.Main.Temperature °C</p>
    <p>Humidity: @Model.Main.Humidity %</p>
    <p>Wind Speed: @Model.Wind.Speed m/s</p>


    @if (Model.WeatherList != null && Model.WeatherList.Any())
    {
        @foreach (var weather in Model.WeatherList)
        {
            <img src="@weather.IconPath" alt="Weather Icon" />
        }
    }
}
